<form (ngSubmit)="onSubmit(titleInput.value,textInput.value)" #form>
    <app-control label="Title">
        <!-- Template variable which is an alternative to two way binding, the type of this variable is called HTMLInputElement which is a typescript type-->
        <input type="text" name="title" id='title' #titleInput>
    </app-control>
    <app-control label="Request">
        <textarea type="text" name="title" id='title' rows="3" #textInput></textarea>
    </app-control>

    <p>
        <button appButton>
            Submit
            <span ngProjectAs="icon">⌲</span>
        </button>
    </p>
</form>